<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Reminder</title>
</head>
<body>
<form>
	<div>
		<!--<label for="remider"><h2 style="text-align:center;"><em>Reminder:</em></h2></label>  -->
		<h2 style="text-align:center;"> Reminder: </h2>
		
		<h3 style="text-align:center;">
		 You are not Organization Administrator, please
		<i><a href="Register.html">register</a></i>...
		<!---<i><a href="Register1.html" target="_blank">register</a></i>...--->
		</h3>
	</div>
	
	<br/>
	<hr/>
	<br/>
	<div>
		<h2 style="text-align:center;"><em>Pending...</em></h2>
		
		
	</div>
	<div>
		<p>You register status still pending, please be patient to waiting for the administrator to approve your request. Thank you! </p>
	</div>

</form>

</body>
</html>